@import '../../styles/colors.scss';

.header {
  display: flex;
  justify-content: center;
  height: 4.5rem;
  align-items: center;
  background-color: $green-300;

  img {
    width: 8.75rem;
    
  }
  
  .filter-green{
    filter: invert(48%) sepia(79%) saturate(2476%) hue-rotate(86deg) brightness(118%) contrast(119%);
}
}