$white: #FFFFFF;

$gray-100: #F1F7ED;
$gray-200: #EFF1F3;
$gray-500: #707070;
$gray-700: #4F4F4F;
$gray-800: #333333;
$gray-900: #0F0A0A;

$red-400: #FE5F55;

$green-300: #70AE6E;
$green-500: #466E45;

$blue-100: #C8E6D2;


