@import './styles/colors.scss';

.container {
  margin: 2rem auto;
  max-width: 48rem;
  padding: 0 1rem;

  .tasklist {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
  }
  
  .status {
    font-size: 1.125rem;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    margin-bottom: 10px;

    span {
      background-color: $gray-800;
      color: $white;
      border-radius: 50px;

      gap: 10px;
      padding: 1px 0.25rem;

      font-size: 0.75rem;
      font-weight: 400;
    }
  }
  
  .addTaskForm {
    display: flex;
    gap: 0.5rem;
    margin-bottom: 2rem;

    input {
      padding: 1rem;
      border: 1px solid $blue-100;
      border-radius: 8px;
      flex: 1;

      &:placeholder{
        color: $gray-500;
      }
    }

    button {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 1rem;
      background-color: $green-500;
      border: none;
      border-radius: 8px;
      cursor: pointer;

      transition: all 0.2s;

      &:hover {
        background-color: $green-300;
      }

      &:focus {
        outline: none;
      }

      svg {
        height: 1.25rem;
        width: 1.25rem;
        color: $white;
      }
    }
    
  }
  .empty{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: $gray-500;

    svg {
      width: 4.5rem;
      height: 4.5rem;
    }
    p {
      font-weight: 500;
      margin-top: 2rem;
      text-align: center;
    }

    span {
      text-align: center;
    }
  }
}
