@import './styles/colors';
.container {
  
  .regions {
    width: 71rem;
    padding: 0 1rem;
    margin: 4.5rem auto 5rem;

    ul {
      margin-top: 3rem;

      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 1rem;
    }

    h2 {
      font-family: 'Poppins';
      font-size: 2rem;
      font-weight: 500;
    }

  }
  .welcome {
    background-color: $gray-300;

    .welcomeContent {
      width: 71rem;
      margin: 0 auto;
      padding: 0 1rem;

      display: flex;
      align-items: flex-end;
      gap: 14.75rem;

      > div {
        margin: 5rem 0;
        span {
          color: $green-700;

          font-weight: 700;
          font-size: 0.875rem;
          text-transform: uppercase;
        }

        h1 {
          color: $green-700;

          margin-top: 1rem;
          margin-bottom: 1.5rem;

          font-weight: 700;
          font-size: 3.25rem;
          font-family: 'Poppins', sans-serif;
        }

        p {
          color: $gray-600;

          font-size: 1.125rem;
        }

        button {
          color: $white;

          gap: 0.5rem;
          display: flex;
          align-items: center;

          background-color: $green-500;

          padding: 1rem;
          margin-top: 2rem;
          font-weight: 700;
          font-size: 0.875rem;
          text-transform: uppercase;
          font-family: 'Poppins', sans-serif;

          border: none;
          border-radius: 20rem;

          transition: 0.2s ease-in-out;

          cursor: pointer;

          &:hover {
            background-color: $green-600;
          }
        }
      }

      .logoWhapsApp {
        width: 1.25rem;
      }

      .personHappy {
        height: 29.5rem;

        @media screen and (max-width: 1080px) {
          display: none;
        }
      }
    }
  }
}
