.techs {
  display: grid;
  gap: 0.5em;
  max-width: calc(1136px + 2rem);
  margin: 0 auto;
  padding: 1rem;
  
} 

.techs-content {
  display: flex;
  align-items: center;
  flex-flow: row wrap;
  gap: 1rem;
}

.techs nav .tech{
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: auto;
}

.techs h1 {
  color: black;
  font-size: 2rem;
  font-weight: 500;
  margin-bottom: 3.5rem;
}

.techs .tech .content{
  display: block;
  width: 15.5rem;
  height: auto;
  font-size: 1rem;
  font-weight: 500;
  padding: 0.5rem;
  border: 1px solid var(--border);
  border-radius: 0.5rem;
  text-align: justify;
}

.techs .tech h2 {
  margin-top: -40px;
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 2rem;
}

.techs .tech .content:hover{
  background-color: var(--primary);
  color: var(--text-techs);
}

.techs .tech .content:hover h2{
  color: var(--white);
}

/* .techs .tech .content img{
  position: relative;
  width: 72px;
  height: 72px;
  right: 0px;
  top: -40px;
  Left:200px;
} */

.techs .tech .content img{
  width: 5.2rem;
  transform: translate(11.75rem, -4rem)
}