$white: #FFFFFF;
$black: #000000;

$green-500: #8a9f69;
$green-600: #586b3b;
$green-700: #404e2b;

$gray-100: #F5F0E8;
$gray-300: #D6DDCA;
$gray-600: #595C5F;
$gray-700: #495057;
$gray-800: #212529;
$gray-900: #0C0E08;





