@import 'colors';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  @media screen and (max-width: 1080px) {
    font-size: 93.75%;
  }

  @media screen and (max-width: 768px) {
    font-size: 87.5%;
  }
}



body {
  background-color: $gray-100;
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
  color: $gray-900;
}
