.go-work {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: calc(1136px + 2rem);
  padding: 1rem;
  margin: 0 auto;
  margin: 0 auto;
}

.work {
  padding: 20px;
  margin-bottom: 20px;
  width: 100%;
  height: 4rem;
  width: 100%;
  height: auto;
}

.work h2 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

.work p {
  font-size: 1.25em;
  font-weight: 500;
  margin-bottom: 1rem;
  margin: 1rem 0 2rem;
}

.contato {
	display: flex;
	flex-direction: column;
 	gap: 1rem;
  
  bottom: 0px;
  margin-bottom: 40px;
}

.contatos{
  display: flex;
	flex-wrap: wrap;
  align-items: center;  
}

.button {
	display: flex;
	flex: auto;
	justify-content: center;
	align-items: center;
	width: 15rem;
	padding: 0.5rem 1rem;
	color: var(--background);
	font-weight: 500;
	border-radius: 5px;
	gap: 1rem;
  margin: 0.5rem;
}

.button:hover{
  filter: brightness(1.25);
  transition: all 0.3s ease-in-out;
}

.instagram {
	background: #ea4335;
  width: 10rem;

}

.facebook {
	background-color: #0e76a8;
  width: 10rem;
}

.github {
	background: #2e2b2b;
  width: 10rem;
}

.linkedin {
	background: #2f58e2;
  width: 10rem;
}

.contato .footer-content-social{
  width: 100%;
  height: 4rem;
  margin-bottom: 1rem;
}

.contato .footer-content p{
  margin: 2rem 0 0;
}

@media screen and (max-width: 550px){
  .contato{
      align-content: center;
      position: relative;
      width: 100%;
  }
}